# MIT-GSL Uruguay 

## January 2020

-----

# Week - 2 | Lesson - 03 
# NLP: Product embeddings

1. After introducing the concept of embeddings through NLP, we extend the notion of embeddings to other settings
2. Note that embeddings are dense continuous representations for discrete, sparse tokens - this makes embeddings widely applicable
3. We will use the concept of embeddings to understand the world of e-commerce better

---

# Word2Vec and its Applications to Market-Basket Data

# Instacart Grocery Dataset

### Source: https://www.instacart.com/datasets/grocery-shopping-2017

1. Instacart is an online grocery delivery service
2. They have made available 3M grocery orders for over 200K users
3. They provide between 4 to 100 orders for each user and each order contains the sequence of products purchased
4. We also have a brief description of the products

### Overview:
1. We will use this data to build an understanding of word embeddings and investigate their application to downstream tasks
2. For this purpose, we will consider each purchase basket to be a sentence with an unordered sequence of words

---

# 0. Import Modules

In [33]:
# ==============================================
# 0. Module imports
# ==============================================

import pandas as pd
pd.options.display.max_colwidth = 100
import numpy as np
from itertools import product
import csv

# w2v
import gensim

# text processing
from nltk import sent_tokenize, word_tokenize
from nltk.tokenize import ToktokTokenizer
import string
import re # regular expressions
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics.pairwise import cosine_similarity

# T-Sne
#import umap
#from openTSNE import TSNE, TSNEEmbedding, affinity, initialization
#from openTSNE import initialization
#from openTSNE.callbacks import ErrorLogger
from sklearn.manifold import TSNE


# utils
from sklearn import utils


# parallel processing
import multiprocessing
from joblib import delayed, Parallel

# time code
import time

# 2-d visualiztion
%matplotlib inline
from ggplot import *
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

#import os
#os.chdir("/pool001/madhavk/gsl-uruguay/W-02-NLP/")

In [34]:
# =========================================================
# set directories
# =========================================================

import os
EC2 = True  # If using EC2 (for data directory/paths)

# Select path based off of local or remote
if not EC2:
    wd = "/pool001/madhavk/gsl-uruguay/W-02-NLP/"
else:
    wd = "/home/ubuntu/machine_learning_aws/"
os.chdir(wd)

EC2 = True  # If using EC2 (for data directory/paths)
if not EC2:
    # raw data
    raw_data_dir = "nlp-data/in-grocery/instacart_2017_05_01/"
    # processed data
    process_dir = "nlp-data/in-grocery/prepared-data/"  
else:
    # raw data
    raw_data_dir = "data/in-grocery/instacart_2017_05_01"
    # processed data
    process_dir = "data/in-grocery/prepared-data/"

In [35]:
# =========================================================
# processed files
# =========================================================
os.listdir(process_dir)

['orders-split-v1.csv',
 'all-orders-wide-v1.csv',
 'all-orders-long-v1.csv',
 'products-merged-v1.csv']

In [36]:
# =========================================================
# global parameters
# =========================================================

# show entire value of cell in pandas
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', 500)


# number of cpus
cpus = multiprocessing.cpu_count()
f"Number of CPUs: {cpus}"

'Number of CPUs: 4'

# 1. Import grocery data

## 1.1. Order level data

In [37]:
# =========================================================
# order-level data
# =========================================================

orders_wide = pd.read_csv(process_dir + "all-orders-wide-v1.csv")
# This data set has one row per order with the products ordered in the product_id column. 
# Products are separated by space.
print(orders_wide.shape)

(3152555, 4)

In [38]:
display(orders_wide.head(10))

,order_id,product_id,num_products,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,prior
2,4,46842 39758 27761 10054 21351 22598 34862 40285 17616 25146 32645 41276,12,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348 40878 6184 48002 20914 37011 12962 45698 41176 48366 47209 46522 38693 48825 8479,22,prior
4,7,34050 46802,2,prior
5,9,21405 47890 11182 2014 29193 34203 14992 31506 23288 44533 18362 432 3990 14183,14,prior
6,10,24852 4796 31717 47766 4605 1529 21137 22122 34134 27156 14992 49235 26842 3464 25720,15,prior
7,11,30162 5994 1313 31506,4,prior
8,12,30597 15221 43772 37886 37215 34335 26910 38888 38050 29471,10,prior
9,13,17330 27407 35419 196 44635 26878 25783 41290 33198 23020 36086 3800 25952,13,prior

In [39]:
# =========================================================
# orders meta-data
# =========================================================

orders_meta = pd.read_csv(process_dir + "orders-split-v1.csv")
# This dataset includes the meta data for each order, i.e., the user who ordered it, order day of the week, order time
print(orders_meta.shape)

(3346083, 7)

In [80]:
display(orders_meta.head(10))

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,eval
0,2539329,1,1,2,8,NaN,prior
1,2398795,1,2,3,7,15.0,prior
2,473747,1,3,3,12,21.0,prior
3,2254736,1,4,4,7,29.0,prior
4,431534,1,5,4,15,28.0,prior
5,3367565,1,6,2,7,19.0,prior
6,550135,1,7,1,9,20.0,prior
7,3108588,1,8,1,14,14.0,prior
8,2295261,1,9,1,16,0.0,prior
9,2550362,1,10,4,8,30.0,prior

----

## 1.2. Merge train-val-test split

In [40]:
# =========================================================
# merge orders-wide and orders-meta
# =========================================================

orders_wide.drop(labels = "eval", axis = 1, inplace = True)
orders_wide = pd.merge(orders_wide, # data - 1
                       orders_meta[["order_id", "user_id", "eval"]], # data - 2
                       on = "order_id", # merge key
                       how = "left") # left join
print(orders_wide.shape)

(3152555, 5)

In [41]:
display(orders_wide.head(10))

,order_id,product_id,num_products,user_id,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,202279,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,205970,prior
2,4,46842 39758 27761 10054 21351 22598 34862 40285 17616 25146 32645 41276,12,178520,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348 40878 6184 48002 20914 37011 12962 45698 41176 48366 47209 46522 38693 48825 8479,22,156122,prior
4,7,34050 46802,2,142903,prior
5,9,21405 47890 11182 2014 29193 34203 14992 31506 23288 44533 18362 432 3990 14183,14,139016,prior
6,10,24852 4796 31717 47766 4605 1529 21137 22122 34134 27156 14992 49235 26842 3464 25720,15,135442,prior
7,11,30162 5994 1313 31506,4,143742,prior
8,12,30597 15221 43772 37886 37215 34335 26910 38888 38050 29471,10,152610,prior
9,13,17330 27407 35419 196 44635 26878 25783 41290 33198 23020 36086 3800 25952,13,45082,prior

In [42]:
# =========================================================
# eval-set distribution
# =========================================================

orders_wide["eval"].value_counts()

prior    2959079
train    116333
val      38701
test     38442
Name: eval, dtype: int64

In [43]:
# clear some space
del orders_meta

----

## 1.3. Import product info data

In [44]:
products = pd.read_csv(process_dir + "products-merged-v1.csv")
print(products.shape)

(49688, 6)

In [45]:
display(products.head(10))

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry
5,6,Dry Nose Oil,11,11,cold flu allergy,personal care
6,7,Pure Coconut Water With Orange,98,7,juice nectars,beverages
7,8,Cut Russet Potatoes Steam N' Mash,116,1,frozen produce,frozen
8,9,Light Strawberry Blueberry Yogurt,120,16,yogurt,dairy eggs
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,water seltzer sparkling water,beverages

In [46]:
#===============================================
# top departments
#===============================================
products["department"].value_counts()

personal care      6563
snacks             6264
pantry             5371
beverages          4365
frozen             4007
dairy eggs         3449
household          3085
canned goods       2092
dry goods pasta    1858
produce            1684
bakery             1516
deli               1322
missing            1258
international      1139
breakfast          1115
babies             1081
alcohol            1054
pets               972
meat seafood       907
other              548
bulk               38
Name: department, dtype: int64

-----

### In-class exercise

In [47]:
#===============================================
# top aisles
#===============================================
# can you figure out which aisles host the most number of products?

---

# 2. Data exploration

In [48]:
# long-form of orders
orders_long = pd.read_csv(process_dir + "all-orders-long-v1.csv")
print(orders_long.shape)

(32019330, 5)

In [49]:
# top-20 observations in the data frame
display(orders_long.head(20))

    order_id  product_id  add_to_cart_order  reordered   eval
0   2         33120       1                  1          prior
1   2         28985       2                  1          prior
2   2         9327        3                  0          prior
3   2         45918       4                  1          prior
4   2         30035       5                  0          prior
5   2         17794       6                  1          prior
6   2         40141       7                  1          prior
7   2         1819        8                  1          prior
8   3         33754       1                  1          prior
9   3         24838       2                  1          prior
10  3         17704       3                  1          prior
11  3         21903       4                  1          prior
12  3         17668       5                  1          prior
13  3         46667       6                  1          prior
14  3         17461       7                  1          prior
15  3         32665       8                  1          prior
16  4         46842       1                  0          prior
17  4         39758       3                  1          prior
18  4         27761       4                  1          prior
19  4         10054       5                  1          prior

## 2.1. Most frequently purchased products

In [50]:
# most frequently bought products
most_freq_purchased = pd.DataFrame(orders_long["product_id"].value_counts()) # count the number times each product-id appears in data frame
most_freq_purchased.reset_index(drop = False, inplace = True) # complying with pandas indexing 
most_freq_purchased.columns = ["product_id", "freq"] # assign column names
display(most_freq_purchased.head(10))

   product_id    freq
0  24852       491291
1  13176       394930
2  21137       275577
3  21903       251705
4  47209       220877
5  47766       184224
6  47626       160792
7  16797       149445
8  26209       146660
9  27845       142813

In [51]:
# merge with product info from the meta dataset
most_freq_purchased = pd.merge(most_freq_purchased, 
                               products, 
                               on = "product_id", 
                               how = "left")
display(most_freq_purchased.head(20))

,product_id,freq,product_name,aisle_id,department_id,aisle,department
0,24852,491291,Banana,24,4,fresh fruits,produce
1,13176,394930,Bag of Organic Bananas,24,4,fresh fruits,produce
2,21137,275577,Organic Strawberries,24,4,fresh fruits,produce
3,21903,251705,Organic Baby Spinach,123,4,packaged vegetables fruits,produce
4,47209,220877,Organic Hass Avocado,24,4,fresh fruits,produce
5,47766,184224,Organic Avocado,24,4,fresh fruits,produce
6,47626,160792,Large Lemon,24,4,fresh fruits,produce
7,16797,149445,Strawberries,24,4,fresh fruits,produce
8,26209,146660,Limes,24,4,fresh fruits,produce
9,27845,142813,Organic Whole Milk,84,16,milk,dairy eggs
10,27966,142603,Organic Raspberries,123,4,packaged vegetables fruits,produce
11,22935,117716,Organic Yellow Onion,83,4,fresh vegetables,produce
12,24964,113936,Organic Garlic,83,4,fresh vegetables,produce
13,45007,109412,Organic Zucchini,83,4,fresh vegetables,produce
14,39275,105026,Organic Blueberries,123,4,packaged vegetables fruits,produce
15,49683,99728,Cucumber Kirby,83,4,fresh vegetables,produce
16,28204,92889,Organic Fuji Apple,24,4,fresh fruits,produce
17,5876,91251,Organic Lemon,24,4,fresh fruits,produce
18,40706,88078,Organic Grape Tomatoes,123,4,packaged vegetables fruits,produce
19,8277,87272,Apple Honeycrisp Organic,24,4,fresh fruits,produce

----

### In-class exercise

In [53]:
# Can you figure out the least popular products?
display(most_freq_purchased.tail(20))

,product_id,freq,product_name,aisle_id,department_id,aisle,department
14320,15612,206,Unwrapped Bites,45,19,candy chocolate,snacks
14321,20434,206,Sardines in Olive Oil,95,15,canned meat seafood,canned goods
14322,22315,206,Slow Churned Chocolate Light Ice Cream,37,1,ice cream ice,frozen
14323,39328,206,Organic Mexican Chocolate Ice Cream,37,1,ice cream ice,frozen
14324,12549,206,"Salad Dressing, Bleu Cheese, Vegan",89,13,salad dressing toppings,pantry
14325,35355,205,94% Fat Free Microwave Butter Popcorn,23,19,popcorn jerky,snacks
14326,5634,205,Organic Pasture Raised Local Eggs,86,16,eggs,dairy eggs
14327,18975,205,Uncured Cherry Smoked Bacon,106,12,hot dogs bacon sausage,meat seafood
14328,20814,205,Sensitive with Iron Infant Formula,92,18,baby food formula,babies
14329,46815,205,Ultimate Omega 1280mg omega-3,47,11,vitamins supplements,personal care
14330,24941,205,Ancient Grain Tortillas 6 Count,128,3,tortillas flat bread,bakery
14331,12590,205,Baby Wash & Shampoo,102,18,baby bath body care,babies
14332,12146,205,Duck Mousse with Port Wine,96,20,lunch meat,deli
14333,10182,204,Grand Reserve Balsamic Vinegar,19,13,oils vinegars,pantry
14334,16839,204,Organic Raw Hunza Goji Berries,117,19,nuts seeds dried fruit,snacks
14335,33010,204,Old Vine Zin,28,5,red wines,alcohol
14336,19200,204,"Truffle, Nut Butter, Cacao Almond",45,19,candy chocolate,snacks
14337,42833,202,Mango Apricot Fruit Snack,50,19,fruit vegetable snacks,snacks
14338,36668,202,Peanut Butter Filled Pretzel Nuggets,107,19,chips pretzels,snacks
14339,7882,202,Chocolate Coconut Almond Protein Nut Bar,3,19,energy granola bars,snacks

In [54]:
# most popular aisle
aisle = most_freq_purchased.groupby("aisle").agg({"freq": "sum"})
aisle = aisle.reset_index(drop = False, inplace = False).sort_values("freq", ascending = False)
display(aisle)

                             aisle     freq
50   fresh fruits                   3782826
53   fresh vegetables               3553596
98   packaged vegetables fruits     1823815
133  yogurt                         1475395
93   packaged cheese                990483
83   milk                           918611
131  water seltzer sparkling water  868265
25   chips pretzels                 717827
119  soy lactosefree                655592
11   bread                          588261
110  refrigerated                   576416
62   frozen produce                 531602
71   ice cream ice                  481546
41   eggs                           469660
32   crackers                       450180
42   energy granola bars            443376
80   lunch meat                     397936
51   fresh herbs                    391069
24   cereal                         379548
59   frozen meals                   370817
4    baby food formula              368922
49   fresh dips tapenades           359114
117  soft drinks                    355543
118  soup broth bouillon            333548
33   cream                          325353
75   juice nectars                  318159
6    baking ingredients             316350
92   other creams cheeses           315027
70   hot dogs bacon sausage         304344
88   nuts seeds dried fruit         298342
..                      ...            ...
14   bulk dried fruits vegetables   17513
15   bulk grains rice dried goods   16816
35   diapers wipes                  16737
84   mint gum                       16038
57   frozen dessert                 15414
7    baking supplies decor          15037
36   digestion                      14523
38   dog food care                  14218
87   muscles joints pain relief     12665
73   indian foods                   12282
27   cocoa drink mixes              11736
29   cold flu allergy               10426
86   more household                 9656
67   hair care                      8842
46   feminine care                  8797
0    air fresheners candles         8580
72   ice cream toppings             8540
121  specialty wines champagnes     8332
2    baby accessories               7405
77   kosher foods                   7149
45   facial care                    5222
44   eye ear care                   4915
3    baby bath body care            3974
34   deodorants                     3800
76   kitchen supplies               3612
47   first aid                      3261
115  skin care                      3185
58   frozen juice                   3105
114  shave needs                    2711
8    beauty                         2664

[134 rows x 2 columns]

----

### In-class exercise

In [57]:
# Can you figure out the most popular department, i.e., the department from where most products are purchased?
dept = most_freq_purchased.groupby("department").agg({"freq": "sum"})
dept = dept.reset_index(drop = False, inplace = False).sort_values("freq", ascending = False)
display(dept)

         department     freq
19  produce          9840710
7   dairy eggs       5522579
20  snacks           2767610
3   beverages        2641843
10  frozen           2178717
16  pantry           1763171
2   bakery           1168021
8   deli             1046768
6   canned goods     1032645
9   dry goods pasta  833181
13  meat seafood     706543
4   breakfast        701107
11  household        661085
1   babies           397038
17  personal care    240514
12  international    235099
0   alcohol          123711
18  pets             57484
14  missing          48584
5   bulk             34329
15  other            18591

In [117]:
# most purchased department

-----

## 2.2. Co-purchased products

In [118]:
# ===========================================
# Generate co-purchase matrix
# ===========================================

def CoPurchaseMatrix(orders_wide, product_info = True):
    '''
    orders_wide is order-level data with one row per order
    '''
    count_vec = CountVectorizer(ngram_range = (1,1), binary = True, 
                            token_pattern = "\\b\\w+\\b") # sku counts
    pur_mat = count_vec.fit_transform(orders_wide["product_id"])
    co_pur_mat = (pur_mat.T * pur_mat) #copurchase matrix
    co_pur_mat.setdiag(0) # set diagonal to 0
    co_pur_mat_df = pd.DataFrame(co_pur_mat.todense()) # convert to data frame
    co_pur_mat_df.index = count_vec.vocabulary_ # row names from sku-ids
    co_pur_mat_df.columns = count_vec.vocabulary_ # column names from sku-ids
    co_pur_mat_df = co_pur_mat_df.where(np.triu(np.ones(co_pur_mat_df.shape)).astype(np.bool)) # consider the uppre tri
    co_pur_mat_df = co_pur_mat_df.stack().reset_index() # melt to sku-1 and sku-2 per row
    co_pur_mat_df.columns = ["product_id_1", "product_id_2", "copur"]
    co_pur_mat_df = co_pur_mat_df.loc[co_pur_mat_df["copur"] > 0, :] # subset for copur > 0
    co_pur_mat_df_top = co_pur_mat_df.sort_values(["product_id_1", "copur"], ascending = False)
    co_pur_mat_df_top = co_pur_mat_df_top.drop_duplicates(["product_id_1"], keep = "first")
    co_pur_mat_df_top["product_id_1"] = co_pur_mat_df_top["product_id_1"].astype(int) # fix data types
    co_pur_mat_df_top["product_id_2"] = co_pur_mat_df_top["product_id_2"].astype(int) # fix data types
    co_pur_mat_df_top = co_pur_mat_df_top.sort_values(["copur"], ascending = False).reset_index(drop = True)
    if product_info:
        co_pur_mat_df_top = pd.merge(co_pur_mat_df_top, products, how = "left", 
                                     left_on = "product_id_1", right_on = "product_id")
        co_pur_mat_df_top.drop("product_id", axis = 1, inplace = True)
        co_pur_mat_df_top = pd.merge(co_pur_mat_df_top, products, how = "left",
                                     left_on = "product_id_2", right_on = "product_id", 
                                     suffixes = ["_1", "_2"])
        co_pur_mat_df_top.drop("product_id", axis = 1, inplace = True)
        col_order = ['product_id_1', 'product_id_2', 'copur', 'product_name_1', 'product_name_2',
                             'aisle_1', 'aisle_2', 'department_1', 'department_2', 
                             'aisle_id_1', 'aisle_id_2', 'department_id_1', 'department_id_2']
        co_pur_mat_df_top = co_pur_mat_df_top[col_order]
    return(co_pur_mat_df_top)

In [119]:
# calculate copurchases
copur = CoPurchaseMatrix(orders_wide = orders_wide, product_info = True)
print(copur.shape)

(14332, 13)

In [120]:
display(copur[["product_name_1", "product_name_2", "copur", "aisle_1", "aisle_2"]].head(20))

,product_name_1,product_name_2,copur,aisle_1,aisle_2
0,Organic Lacinato (Dinosaur) Kale,Soft Eating Strawberry Flavored Licorice,64761.0,fresh vegetables,candy chocolate
1,"Mighty 4 Sweet Potato, Blueberry, Millet & Greek Yogurt Tots Snack",Nut Delight Fruit & Nut Bar,58330.0,baby food formula,energy granola bars
2,Nut Delight Fruit & Nut Bar,Carrot Bunch,55611.0,energy granola bars,fresh vegetables
3,Natural Finely Shredded Triple Cheddar Cheese,Nut Delight Fruit & Nut Bar,53395.0,packaged cheese,energy granola bars
4,Italian Style Meatballs & Mozzarella Sandwiches,Nut Delight Fruit & Nut Bar,43180.0,frozen meals,energy granola bars
5,Organic Granny Smith Apples,Garlic Spice Blend Paste,28998.0,fresh fruits,packaged vegetables fruits
6,Pecan Pie Fruit & Nut Food Bar,Soft Eating Strawberry Flavored Licorice,26812.0,energy granola bars,candy chocolate
7,Garlic Spice Blend Paste,Carrot Bunch,25766.0,packaged vegetables fruits,fresh vegetables
8,"Almond Coconut Bar, Organic",2nd Foods Organic Pear and Spinach Baby Food,22923.0,energy granola bars,baby food formula
9,Soft Eating Strawberry Flavored Licorice,Spicy Minis Guacamole,22027.0,candy chocolate,fresh dips tapenades
10,2nd Foods Organic Pear and Spinach Baby Food,Soft Eating Strawberry Flavored Licorice,18354.0,baby food formula,candy chocolate
11,Reduced Sugar Craisins,Soft Eating Strawberry Flavored Licorice,18287.0,nuts seeds dried fruit,candy chocolate
12,Chicken Cooking Stock,Soft Eating Strawberry Flavored Licorice,17109.0,soup broth bouillon,candy chocolate
13,Carrot Bunch,Organic Pacific Nori,15973.0,fresh vegetables,asian foods
14,"Skin DeTox, Tea Bags",Nut Delight Fruit & Nut Bar,15948.0,tea,energy granola bars
15,Coffee Mexican Vanilla,Nut Delight Fruit & Nut Bar,15823.0,coffee,energy granola bars
16,Organic 4 Months Butternut Squash Carrots Apples + Prunes Baby Food,Nut Delight Fruit & Nut Bar,15823.0,baby food formula,energy granola bars
17,Plain Unsalted Rice Cakes,"Mighty 4 Sweet Potato, Blueberry, Millet & Greek Yogurt Tots Snack",15763.0,crackers,baby food formula
18,Meatloaf,Soft Eating Strawberry Flavored Licorice,15253.0,frozen meals,candy chocolate
19,Light & Lean Roasted Polenta With Swiss Chard,Nut Delight Fruit & Nut Bar,14978.0,frozen meals,energy granola bars

----

# 3. Split train-val-test datasets

In [121]:
#===============================================
# split train-val-test
#===============================================

train = orders_wide.loc[orders_wide["eval"].isin(["prior", "train"]), :]
val = orders_wide.loc[orders_wide["eval"] == "val", :]
test = orders_wide.loc[orders_wide["eval"] == "test", :]
print("train size:", train.shape)
print("val size:", val.shape)
print("test size:", test.shape)

train size: (3075412, 5)
val size: (38701, 5)
test size: (38442, 5)

In [122]:
# clear more space
# del orders_wide, orders_long

In [123]:
display(train.head())

,order_id,product_id,num_products,user_id,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,202279,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,205970,prior
2,4,46842 39758 27761 10054 21351 22598 34862 40285 17616 25146 32645 41276,12,178520,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348 40878 6184 48002 20914 37011 12962 45698 41176 48366 47209 46522 38693 48825 8479,22,156122,prior
4,7,34050 46802,2,142903,prior

## 3.1. Random sample for faster processing

In [129]:
#===============================================
# randomly sample training data
#===============================================

sample_size = 1000000
train = train.sample(n = sample_size)
train = train.reset_index(drop = True)
print(train.shape)

(1000000, 5)

In [130]:
display(train.head(10))

,order_id,product_id,num_products,user_id,eval
0,1037201,1823 38557 24852 47626 48015 18272 43352 8479 4367 44479 34956 1090 21137 24535 1194 8414 7483,17,136789,prior
1,1903901,5479 26165 30233 22035 40078 38274 20964 16131 11440 46720 36772 42110 43249 12125 27423 19173 29623 4989 7780,19,152620,prior
2,1984939,29447 11109 29987 15392 42135 37119,6,170893,train
3,3216224,42736 651 6740 31915 30720 47862 4799 2750 11481,9,75963,prior
4,548037,46069 5450 18200 5115 47144 895 22908 44787 21137,9,8779,prior
5,3271482,34217 45584 26201 5699 6555 5240 25817 31461 8694,9,53309,prior
6,517524,32655 24184,2,121005,prior
7,2016658,49520 11492 33493 8224 34496 34080,6,112612,prior
8,1804560,44643 45608 37053 4920 27086 20520 16145 22935 15290 17794 48442 18176,12,126515,prior
9,2852290,47626 19272 41785 40516 41950 33401 45007 13176 42265,9,32146,prior

## 3.2. Tokenize sentences

In [131]:
# start pool process for parallel procressing
pool = multiprocessing.Pool(processes = cpus)

In [159]:
# text processing
from nltk import sent_tokenize, word_tokenize

In [160]:
# training sentences
t0 = time.time()
train_orders = pool.map(word_tokenize, train["product_id"])
t1 = time.time()
print(len(train_orders))

1000000

In [162]:
# time taken
print(f"Time Taken: {t1 - t0}")

Time Taken: 62.65825366973877

In [163]:
# training orders
train_orders[0:3]

[['1823',
  '38557',
  '24852',
  '47626',
  '48015',
  '18272',
  '43352',
  '8479',
  '4367',
  '44479',
  '34956',
  '1090',
  '21137',
  '24535',
  '1194',
  '8414',
  '7483'],
 ['5479',
  '26165',
  '30233',
  '22035',
  '40078',
  '38274',
  '20964',
  '16131',
  '11440',
  '46720',
  '36772',
  '42110',
  '43249',
  '12125',
  '27423',
  '19173',
  '29623',
  '4989',
  '7780'],
 ['29447', '11109', '29987', '15392', '42135', '37119']]

In [164]:
# validation sentences
t0 = time.time()
val_orders = pool.map(word_tokenize, val["product_id"])
t1 = time.time()
print(len(val_orders))

38701

----

### In-class exercise

In [165]:
# what do the first three validation orders look like?

In [166]:
# Can you similarly tokenize the test sentences?
#print(len(test_orders))

----

# 4. Word2Vec sample model

## 4.1. Define and train model

In [167]:
#===============================================
# define and train model
#===============================================

w2v_1 = gensim.models.Word2Vec(sentences = train_orders,
                               workers = multiprocessing.cpu_count(),
                               seed = 1234)

## Model properties

In [168]:
#===============================================
# vocabulary
#===============================================

# vocabulary length
f"Vocab length: {len(w2v_1.wv.vocab)}"

'Vocab length: 14340'

In [169]:
# sample vocabulary
list(w2v_1.wv.vocab.keys())[0:5]

['1823', '38557', '24852', '47626', '48015']

In [170]:
# length of corpus
print(w2v_1.corpus_count)

1000000

In [171]:
# number of iterations
w2v_1.iter

5

In [172]:
#===============================================
# product vectors
#===============================================

# enter product-id
prod_id = "1"
print(w2v_1[prod_id].shape)
print("------------")
print("------------")
print(w2v_1[prod_id])

(100,)
------------
------------
[ 0.60168684  0.24987519 -1.0755798  -0.2391788   0.19775608 -1.0419674
  0.642113    0.41151527 -0.0441233  -0.5183707  -0.20822817 -0.39275473
  0.06551001  0.486888    0.10467267  1.7155135   0.7940534   0.3288243
 -1.1963735  -0.5318942   0.43887103  0.20195368 -1.328781   -1.391361
  0.34871203  0.5674694  -0.47503617  0.27359688 -0.89744    -0.81736153
 -0.39648455 -0.75244266  0.6718112   0.40889952  0.75032455  0.36864212
  0.3998348   0.30549735 -0.4827408   1.9570383  -0.09832398  0.34031802
  1.0730267   0.47878838  0.5387484  -0.04642242  0.5739267   1.287745
 -0.5192869   0.96084744  0.1774212   0.31908435  2.3084006   0.77635014
 -0.00632544  0.5851295   0.06860051  0.12762313 -0.6388334   0.6324524
 -0.48207006 -0.54665613  1.3869867  -1.9887685   0.20473     0.70046455
 -0.16114047 -1.1244284  -0.4835317  -0.5394121   0.7775341   1.9737608
  0.3278925   0.02315868  0.75825906  0.3633218  -0.37807062  1.0300744
  2.079649    0.7536106  -0.5109018  -0.19003361  0.6202405  -0.8754639
  0.52571845 -1.009482   -0.11720115  0.6158056   1.4459969   0.66726387
 -0.34092942 -0.3183296   0.74442804 -1.055189    0.95216703 -0.37487122
  1.2908329   0.03236298  0.33275774 -0.24751583]

## 4.2. Update embeddings

In [173]:
#===============================================
# update model weights
#===============================================
w2v_1.train(sentences = train_orders, total_examples = w2v_1.corpus_count, epochs = 2)

(19305691, 20187258)

## 4.3. Inspect model output

In [174]:
#===============================================
# upadted product vectors
#===============================================

# enter product-id
prod_id = "1"
print(w2v_1[prod_id].shape)
print("------------")
print("------------")
print(w2v_1[prod_id])

(100,)
------------
------------
[ 0.7506956   0.33560982 -0.9206335  -0.41975296  0.17195204 -0.8777082
  0.7070247   0.72258556  0.15895188 -0.47244316 -0.0610118  -0.36959845
 -0.16965622  0.3254873   0.3711047   1.8070718   1.0973363   0.28316438
 -1.2848232  -0.6757469   0.5904915   0.34365648 -1.4610807  -1.2635992
  0.2681215   0.4184009  -0.36008862  0.30519378 -1.0808834  -0.8134373
 -0.36592862 -0.7247034   0.32367697  0.5307504   0.56617576  0.14960462
  0.09275275  0.3538138  -0.42121288  2.1332848  -0.29595298  0.5900172
  0.8295695   0.880311    0.45246193  0.06167057  1.0260205   1.181136
 -0.54739183  0.8040375   0.3640017   0.60001016  2.9082901   0.6675577
  0.14744136  0.7373731  -0.1794804   0.25734738 -0.6144987   0.5227953
 -0.42209017 -0.8218264   1.4257251  -2.4478483   0.28818277  0.8510335
 -0.1046808  -1.3414823  -0.6856137  -0.36171046  0.61708784  2.0269086
  0.2859992   0.05387381  0.5684137   0.41447878 -0.47672597  1.4262898
  2.4957998   0.578769   -0.65193915  0.10808592  0.7433114  -0.9688529
  0.45032683 -0.8780692  -0.31157166  0.49420574  1.7151407   0.70736015
 -0.29804975 -0.5300036   0.84300184 -1.3106761   0.9916397  -0.46025655
  1.6300716  -0.25261652  0.22717915 -0.43488473]

--------

# 5. Improve W2V model

In [187]:
#===============================================
# model parameters
#===============================================

# size of embedding matrix
emb_size = 100

# context window size
cxt_window = 10

# batch size for gradient update
batch_size = 10000

# down-sample high frequency words
hfs = 0.001

# learning rate
lr = 0.05

In [188]:
#===============================================
# define model
#===============================================

w2v_1 = gensim.models.Word2Vec(sentences = train_orders,
                               size = emb_size, # number of columns in embedding matrix
                               hs = 1, # hierarchical softmax
                               negative = 0, # negative sampling
                               window = cxt_window, # context window
                               min_count = 1, # minimum frequency count
                               batch_words = batch_size, # batch size for update
                               alpha = lr, # learning rate
                               sample = hfs, # down sample high frequency words 
                               workers = cpus,
                               seed = 1234)

## 5.1. Score on validation and test

In [189]:
#===============================================
# Score model to get log-likelihood
#===============================================

def ScoreW2V(test_sent, model, normalize = True, avg_over_sent = True):
    test_score = model.score(test_sent, total_sentences = len(test_sent), 
                             chunksize = 100,
                             queue_factor = 2,
                             report_delay = 1)
    if normalize:
        test_score = [test_score[x]/len(test_sent[x]) for x in range(len(test_sent))]
    else:
        test_score = list(test_score)
    if avg_over_sent:
        test_score = np.mean(test_score)
    return test_score

In [190]:
w2v_1_val = ScoreW2V(test_sent = val_orders, model = w2v_1, normalize = True, avg_over_sent = True)

In [191]:
w2v_1_val

-7.534782679428552

## 5.2. Similar products

In [192]:
#===============================================
# similar products
#===============================================

# sample product
prod_id = "10"

# product info for sample product
display(products.loc[products["product_id"].isin([prod_id]), :])

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, aisle, department]
Index: []

In [181]:
#===============================================
# similarity from model
#===============================================

w2v_1.wv.most_similar(prod_id)

[('44375', 0.7873659729957581),
 ('4493', 0.6908445358276367),
 ('4138', 0.6555606722831726),
 ('6475', 0.6418935656547546),
 ('17080', 0.5086180567741394),
 ('37197', 0.4961504340171814),
 ('32380', 0.4850635528564453),
 ('18389', 0.47192761301994324),
 ('47280', 0.47062253952026367),
 ('28004', 0.4580092430114746)]

In [186]:
#===============================================
# lookup product info
#===============================================
most_similar_prods = [y[0] for y in w2v_1.wv.most_similar(positive = prod_id)]
most_similar_prods = products.loc[products["product_id"].isin(most_similar_prods), :]
display(most_similar_prods)

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, aisle, department]
Index: []

In [183]:
#===============================================
# most dissimilar products
#===============================================
most_dissimilar_prods = [y[0] for y in w2v_1.wv.most_similar(negative = [prod_id])]
most_dissimilar_prods = products.loc[products["product_id"].isin(most_dissimilar_prods), :]
display(most_dissimilar_prods)

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, aisle, department]
Index: []

----

### In-class exercise

In [184]:
# find the most similar products to 
prod_id = "100"

# product info for sample product
display(products.loc[products["product_id"].isin([prod_id]), :])

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, aisle, department]
Index: []

In [185]:
# which products are most similar to peanut better and strawberry jam sandwich

In [102]:
# what about the most dissimilar products?

----

# 5. Product maps using t-sne

## 5.1. Extract all product vectors

In [103]:
#===============================================
# product vectors
#===============================================

items = [key for key in w2v_1.wv.vocab.keys()] # all product-ids
word_vec = [list(w2v_1[item]) for item in items] # "word" vector for each product id
word_vec = np.array(word_vec) # convert to array
word_vec_df = pd.DataFrame(word_vec) # convert to data frame
w2v_vec_names = ["wv" + str(x + 1) for x in range(word_vec_df.shape[1])] # column names
word_vec_df.columns = w2v_vec_names # assign column names
word_vec_df["product_id"] = items # include product id in data frame
word_vec_df["product_id"] = word_vec_df["product_id"].astype(int) # convert to type integer for later merge
word_vec_df = word_vec_df[["product_id"] + w2v_vec_names] # re-order columns
print(word_vec_df.shape)

NameError: name 'w2v_1' is not defined

In [104]:
display(word_vec_df.head(10))

NameError: name 'word_vec_df' is not defined

## Merge product vectors with product info

In [105]:
#===============================================
# merge relevant columns
#===============================================

# relevant columns from product info
prod_info_cols = ["product_id", "product_name", "department", "aisle"]

# merge
word_vec_df = pd.merge(products[prod_info_cols], word_vec_df, on = "product_id", how = "inner")
print(word_vec_df.shape)

NameError: name 'word_vec_df' is not defined

In [106]:
display(word_vec_df.head(10))

NameError: name 'word_vec_df' is not defined

## 5.2. Fit t-sne

In [107]:
# =================================================
# fit t-sne
# =================================================
tsne = TSNE(n_components = 2, verbose = 1, perplexity = 35, n_iter = 400)

In [108]:
# fit
t0 = time.time()
tsne_fit = tsne.fit_transform(word_vec_df[w2v_vec_names])
t1 = time.time()

NameError: name 'word_vec_df' is not defined

In [109]:
# time taken
f"Time Taken: {t1 - t0}"

NameError: name 't1' is not defined

## T-sne component data frame

In [110]:
#===============================================
# create t-sne data frame
#===============================================

tsne_df = word_vec_df[["product_name", "department", "aisle"]]

# extract t-sne dimensions
tsne_df["x_tsne"] = tsne_fit[:,0]
tsne_df["y_tsne"] = tsne_fit[:,1]
print(tsne_df.describe())

NameError: name 'word_vec_df' is not defined

## Plot with ggplot

In [111]:
#===============================================
# subset data for plot
#===============================================

# select only top departments
select_dept = ["produce", "babies", "beverages"]
tsne_plot_df = tsne_df.loc[tsne_df["department"].isin(select_dept), :]
print(tsne_plot_df.shape)

NameError: name 'tsne_df' is not defined

In [112]:
tsne_plot = ggplot(tsne_plot_df, aes(x = "x_tsne", y = "y_tsne", color = "department") ) \
        + geom_point(size = 70, alpha = 0.5) \
        + ggtitle("T-sne on product vectors") \
        + xlab(" ") + ylab(" ")
tsne_plot

NameError: name 'tsne_plot_df' is not defined

---

## In-class exercise

## Learning embeddings using Skip-gram

- We will now use another method to train embeddings called skip-gram

In [113]:
#===============================================
# model parameters
#===============================================

# size of embedding matrix
emb_size  # set between 50-100

# context window size
cxt_window # set between 2-10 

# batch size for gradient update
batch_size # set between 2000 to 10000

# learning rate
lr # set between 0.001 to 0.01

0.05

In [114]:
#===============================================
# define and train model
#===============================================

t0 = time.time()
### Write model code here
t1 = time.time()

In [115]:
# time taken
f"Time Taken: {t1 - t0}"

'Time Taken: 4.2438507080078125e-05'

In [116]:
# find the most similar products to 
prod_id = "1000"

# product info for sample product
display(products.loc[products["product_id"].isin([prod_id]), :])

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, aisle, department]
Index: []