# MIT-GSL Uruguay 

## January 2020

---

# Instacart grocery dataset

### Source: https://www.instacart.com/datasets/grocery-shopping-2017

---

## Data preparation code
### NOT to be run in class

In [3]:
# =========================================================
# import python modules
# =========================================================

# data manipulation
import pandas as pd
import numpy as np

# text processing
from nltk import sent_tokenize, word_tokenize
from nltk.tokenize import ToktokTokenizer
import string
import re # regular expressions
from sklearn.feature_extraction.text import CountVectorizer

# visualization
%matplotlib inline
from ggplot import *

# set working directory
import os
os.chdir("/pool001/madhavk/gsl-uruguay/W-02-NLP/")

In [4]:
# =========================================================
# notebook options
# =========================================================

# pandas viewing options
pd.set_option('display.max_rows', 1000)

In [5]:
# =========================================================
# data directory for instacart data
# =========================================================

data_dir = "data/in-grocery/instacart_2017_05_01/"
os.listdir(data_dir)

['._products.csv',
 'aisles.csv',
 '._departments.csv',
 '._aisles.csv',
 'departments.csv',
 '._order_products__train.csv',
 'order_products__prior.csv',
 '._order_products__prior.csv',
 'orders.csv',
 'products.csv',
 'order_products__train.csv',
 '._orders.csv']

In [6]:
# =========================================================
# directory to store processed data
# =========================================================

process_dir = "nlp-data/in-grocery/prepared-data/"

if not os.path.exists(process_dir):
    os.makedirs(process_dir)

---

# 1. Product info data

## 1.1. Products file

In [7]:
# import data
products = pd.read_csv(data_dir + "products.csv")
print(products.shape)

(49688, 4)

In [8]:
display(products.head())

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## 1.2. Department file

In [9]:
dept = pd.read_csv(data_dir + "departments.csv")
print(dept.shape)

(21, 2)

In [10]:
display(dept.head())

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

## 1.3. Aisle file

In [11]:
aisle = pd.read_csv(data_dir + "aisles.csv")
print(aisle.shape)

(134, 2)

In [12]:
display(aisle.head())

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

## 1.4. Merge all files

In [13]:
# merge products and aisle
products = pd.merge(products, aisle, on = "aisle_id", how = "left")
print(products.shape)

(49688, 5)

In [14]:
display(products.head())

,product_id,product_name,aisle_id,department_id,aisle
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes
1,2,All-Seasons Salt,104,13,spices seasonings
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation

In [15]:
# merge products and department
products = pd.merge(products, dept, on = "department_id", how = "left")
display(products.shape)

(49688, 6)

In [16]:
display(products.head())

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry

In [17]:
# some manual checks
products["department"].value_counts()

personal care      6563
snacks             6264
pantry             5371
beverages          4365
frozen             4007
dairy eggs         3449
household          3085
canned goods       2092
dry goods pasta    1858
produce            1684
bakery             1516
deli               1322
missing            1258
international      1139
breakfast          1115
babies             1081
alcohol            1054
pets                972
meat seafood        907
other               548
bulk                 38
Name: department, dtype: int64

In [18]:
# some manual checks
products["aisle"].value_counts()

missing                          1258
candy chocolate                  1246
ice cream ice                    1091
vitamins supplements             1038
yogurt                           1026
chips pretzels                    989
tea                               894
packaged cheese                   891
frozen meals                      880
cookies cakes                     874
energy granola bars               832
hair care                         816
spices seasonings                 797
juice nectars                     792
crackers                          747
soup broth bouillon               737
baby food formula                 718
coffee                            680
refrigerated                      675
cleaning products                 655
baking ingredients                623
packaged vegetables fruits        615
asian foods                       605
nuts seeds dried fruit            582
fresh vegetables                  569
oral hygiene                      565
salad dressing toppings           560
bread                             557
other                             548
instant foods                     543
soap                              525
laundry                           506
body lotions soap                 504
cat food care                     499
spreads                           493
canned jarred vegetables          487
dog food care                     473
condiments                        466
soft drinks                       463
doughs gelatins bake mixes        463
dry pasta                         457
cereal                            454
cold flu allergy                  427
marinades meat preparation        409
pickled goods olives              402
pasta sauce                       399
hot dogs bacon sausage            387
frozen appetizers sides           386
beers coolers                     385
fresh fruits                      382
oils vinegars                     375
lunch meat                        373
frozen produce                    361
fruit vegetable snacks            356
air fresheners candles            355
water seltzer sparkling water     344
canned meals beans                342
digestion                         338
grains rice dried goods           336
frozen pizza                      335
fresh dips tapenades              327
protein meal replacements         325
paper goods                       322
prepared meals                    317
deodorants                        317
popcorn jerky                     316
more household                    308
hot cereal pancake mixes          303
bakery desserts                   297
frozen breakfast                  296
energy sports drinks              294
soy lactosefree                   293
baking supplies decor             290
feminine care                     285
canned meat seafood               283
facial care                       277
specialty cheeses                 271
preserved dips spreads            264
latino foods                      257
skin care                         245
milk                              243
canned fruit applesauce           243
tortillas flat bread              241
first aid                         240
red wines                         232
frozen meat seafood               229
honeys syrups nectars             229
breakfast bakery                  226
cocoa drink mixes                 223
kitchen supplies                  218
food storage                      206
dish detergents                   204
plates bowls cups flatware        199
shave needs                       198
buns rolls                        195
spirits                           195
other creams cheeses              191
frozen vegan vegetarian           189
diapers wipes                     187
granola                           185
beauty                            178
breakfast bars pastries           173
muscles joints pain relief        172
kosher foods                      169
mint gum                          168
cream                             161
tofu meat alternatives            159
butter                            150
white wines                       147
prepared soups salads             146
baby bath body care               132
eggs                              125
fresh pasta                       123
eye ear care                      113
frozen dessert                    112
trash bags liners                 112
indian foods                      108
meat counter                      105
packaged meat                     100
packaged poultry                   99
refrigerated pudding desserts      98
specialty wines champagnes         95
fresh herbs                        86
ice cream toppings                 85
poultry counter                    82
frozen breads doughs               81
packaged seafood                   80
trail mix snack mix                69
seafood counter                    54
frozen juice                       47
baby accessories                   44
packaged produce                   32
bulk grains rice dried goods       26
bulk dried fruits vegetables       12
Name: aisle, dtype: int64

## 1.5. Save to disk

In [19]:
# save
products.to_csv(process_dir + "products-merged-v1.csv", index = False)

----

# 2. Orders data

In [20]:
# orders data
orders = pd.read_csv(data_dir + "orders.csv")
print(orders.shape)

(3421083, 7)

In [21]:
display(orders.head(200))

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
30,2710558,3,prior,5,0,17,12.0
31,1972919,3,prior,6,0,16,7.0
32,1839752,3,prior,7,0,15,7.0
33,3225766,3,prior,8,0,17,7.0
34,3160850,3,prior,9,0,16,7.0
35,676467,3,prior,10,3,16,17.0
36,521107,3,prior,11,0,18,11.0
37,1402502,3,prior,12,1,15,15.0
38,2774568,3,test,13,5,15,11.0
39,3343014,4,prior,1,6,11,NaN
40,2030307,4,prior,2,4,11,19.0
41,691089,4,prior,3,4,15,21.0
42,94891,4,prior,4,5,13,15.0
43,2557754,4,prior,5,5,13,0.0
44,329954,4,test,6,3,12,30.0
45,2717275,5,prior,1,3,12,NaN
46,1909121,5,prior,2,0,16,11.0
47,2267326,5,prior,3,3,18,10.0
48,157374,5,prior,4,1,18,19.0
49,2196797,5,train,5,0,11,6.0
50,2086598,6,prior,1,5,18,NaN
51,298250,6,prior,2,4,16,6.0
52,998866,6,prior,3,2,18,12.0
53,1528013,6,test,4,3,16,22.0
54,2565571,7,prior,1,3,9,NaN
55,2402008,7,prior,2,1,19,30.0
56,121053,7,prior,3,0,18,30.0
57,1695742,7,prior,4,2,10,9.0
58,3321109,7,prior,5,5,18,3.0
59,1682003,7,prior,6,1,18,10.0
60,1014379,7,prior,7,1,15,7.0
61,776265,7,prior,8,2,12,8.0
62,2507052,7,prior,9,6,7,4.0
63,1396119,7,prior,10,1,20,9.0
64,565870,7,prior,11,0,15,6.0
65,3239072,7,prior,12,0,14,7.0
66,1175028,7,prior,13,5,15,5.0
67,3060817,7,prior,14,1,13,17.0
68,3120740,7,prior,15,3,16,2.0
69,2425840,7,prior,16,0,13,11.0
70,23391,7,prior,17,0,10,28.0
71,2984707,7,prior,18,0,9,7.0
72,369015,7,prior,19,3,12,3.0
73,2452257,7,prior,20,3,9,7.0
74,525192,7,train,21,2,11,6.0
75,600894,8,prior,1,6,0,NaN
76,2979257,8,prior,2,1,8,30.0
77,2570360,8,prior,3,5,0,30.0
78,880375,8,train,4,1,14,10.0
79,280530,9,prior,1,1,17,NaN
80,2762092,9,prior,2,0,14,6.0
81,1830137,9,prior,3,5,12,30.0
82,1094988,9,train,4,6,10,30.0
83,1224907,10,prior,1,2,14,NaN
84,68288,10,prior,2,5,15,30.0
85,2115522,10,prior,3,3,19,12.0
86,83395,10,prior,4,3,15,14.0
87,1353310,10,prior,5,5,20,23.0
88,1822501,10,train,6,0,19,30.0
89,2411567,11,prior,1,0,11,NaN
90,1170872,11,prior,2,5,11,12.0
91,2840752,11,prior,3,5,10,14.0
92,1611810,11,prior,4,5,13,30.0
93,2921164,11,prior,5,5,11,30.0
94,790927,11,prior,6,5,11,7.0
95,1468214,11,prior,7,5,9,30.0
96,1376945,11,test,8,6,11,8.0
97,1483446,12,prior,1,1,12,NaN
98,1247527,12,prior,2,5,9,30.0
99,1916106,12,prior,3,5,8,14.0
100,1057378,12,prior,4,3,9,26.0
101,221248,12,prior,5,1,9,30.0
102,1356845,12,test,6,1,20,30.0
103,2618231,13,prior,1,6,12,NaN
104,2560699,13,prior,2,0,11,8.0
105,2288946,13,prior,3,6,21,6.0
106,19256,13,prior,4,1,12,9.0
107,1378982,13,prior,5,0,13,6.0
108,2363981,13,prior,6,0,18,7.0
109,1906169,13,prior,7,0,8,7.0
110,1757094,13,prior,8,6,18,13.0
111,519471,13,prior,9,6,17,7.0
112,2298068,13,prior,10,6,22,7.0
113,1472646,13,prior,11,0,14,8.0
114,1789302,13,prior,12,6,13,6.0
115,1827621,13,train,13,0,21,8.0
116,2906263,14,prior,1,2,18,NaN
117,3206747,14,prior,2,5,8,30.0
118,1366559,14,prior,3,0,14,2.0
119,1385564,14,prior,4,6,8,20.0
120,1691859,14,prior,5,5,8,30.0
121,2127409,14,prior,6,1,8,30.0
122,2505309,14,prior,7,5,10,30.0
123,3067644,14,prior,8,4,8,27.0
124,2109666,14,prior,9,5,9,30.0
125,1625325,14,prior,10,4,21,30.0
126,1335295,14,prior,11,1,5,25.0
127,2045336,14,prior,12,5,9,4.0
128,3394109,14,prior,13,5,5,7.0
129,2316178,14,train,14,2,19,11.0
130,2514324,15,prior,1,5,13,NaN
131,3135826,15,prior,2,6,12,15.0
132,2564002,15,prior,3,6,12,7.0
133,714991,15,prior,4,1,11,16.0
134,3317979,15,prior,5,4,15,17.0
135,876095,15,prior,6,5,11,8.0
136,2685110,15,prior,7,1,11,17.0
137,3119091,15,prior,8,2,17,8.0
138,887727,15,prior,9,2,13,7.0
139,2570697,15,prior,10,2,10,21.0
140,2600170,15,prior,11,2,9,14.0
141,2883598,15,prior,12,1,8,6.0
142,2332087,15,prior,13,1,10,14.0
143,113728,15,prior,14,1,10,14.0
144,2968173,15,prior,15,1,9,7.0
145,3097485,15,prior,16,1,9,7.0
146,1870022,15,prior,17,2,16,8.0
147,1911383,15,prior,18,2,11,7.0
148,2345592,15,prior,19,5,11,3.0
149,2994589,15,prior,20,1,13,10.0
150,2715276,15,prior,21,1,9,7.0
151,487368,15,prior,22,1,10,14.0
152,2161313,15,test,23,1,9,7.0
153,1273676,16,prior,1,2,8,NaN
154,875885,16,prior,2,1,13,20.0
155,1491849,16,prior,3,1,20,21.0
156,2704482,16,prior,4,6,14,12.0
157,3192400,16,prior,5,2,14,30.0
158,2000615,16,prior,6,0,14,26.0
159,1416320,16,test,7,0,13,7.0
160,1737705,17,prior,1,2,13,NaN
161,1681401,17,prior,2,5,10,3.0
162,2680214,17,prior,3,3,10,5.0
163,3197376,17,prior,4,1,14,5.0
164,3237467,17,prior,5,6,17,5.0
165,2616505,17,prior,6,4,17,5.0
166,2648319,17,prior,7,1,13,4.0
167,2430354,17,prior,8,0,15,6.0
168,2373492,17,prior,9,3,13,3.0
169,900554,17,prior,10,0,15,4.0
170,805025,17,prior,11,4,15,4.0
171,912404,17,prior,12,2,14,5.0
172,1389057,17,prior,13,1,13,6.0
173,603534,17,prior,14,6,17,5.0
174,2660930,17,prior,15,2,16,3.0
175,1719551,17,prior,16,1,12,6.0
176,601444,17,prior,17,5,21,4.0
177,2956367,17,prior,18,6,12,8.0
178,2508834,17,prior,19,5,11,6.0
179,415389,17,prior,20,5,13,7.0
180,3141030,17,prior,21,2,12,4.0
181,603376,17,prior,22,6,16,4.0
182,3069802,17,prior,23,3,23,4.0
183,1683378,17,prior,24,1,10,5.0
184,2795254,17,prior,25,0,11,6.0
185,343199,17,prior,26,5,17,5.0
186,1385847,17,prior,27,4,10,6.0
187,3314059,17,prior,28,1,9,4.0
188,697863,17,prior,29,6,14,5.0
189,2148135,17,prior,30,6,15,0.0
190,3327122,17,prior,31,4,12,5.0
191,2760791,17,prior,32,1,22,4.0
192,2553089,17,prior,33,3,11,9.0
193,791858,17,prior,34,5,12,16.0
194,2773605,17,prior,35,6,13,8.0
195,674977,17,prior,36,3,12,30.0
196,2831726,17,prior,37,2,12,13.0
197,1385397,17,prior,38,1,15,30.0
198,348137,17,prior,39,5,16,11.0
199,3350883,17,prior,40,4,11,27.0

## 2.1. Split into train-val-test

In [22]:
# =========================================================
# remove test rows, re-assign train to prior and 
# then split, train-test-val
# =========================================================
print(orders.shape)
orders = orders.loc[orders["eval_set"] != "test", :]
print(orders.shape)

(3421083, 7)
(3346083, 7)

In [23]:
# aggregate to user level
users = orders.groupby("user_id").agg({"order_number": "max"})
users = users.reset_index()
users.head()

   user_id  order_number
0        1            11
1        2            15
2        3            12
3        4             5
4        5             5

In [24]:
print(users.shape)

(206209, 2)

In [25]:
# =========================================================
# split train-val-test
# =========================================================

# training set: 60%
# validation set: 20%
# test set: 20%
users["eval"] = np.random.choice(["train", "test", "val"], size = users.shape[0], p = [0.6, 0.2, 0.2])
users["eval"].value_counts()

train    123830
val       41345
test      41034
Name: eval, dtype: int64

In [26]:
display(users.head(20))

    user_id  order_number   eval
0         1            11  train
1         2            15    val
2         3            12   test
3         4             5  train
4         5             5   test
5         6             3   test
6         7            21  train
7         8             4  train
8         9             4  train
9        10             6    val
10       11             7  train
11       12             5   test
12       13            13  train
13       14            14    val
14       15            22  train
15       16             6  train
16       17            41  train
17       18             7  train
18       19             9  train
19       20             4  train

In [27]:
# =========================================================
# merge with orders data
# =========================================================
orders = pd.merge(orders, users, on = ["user_id", "order_number"], how = "left")
print(orders.shape)

(3346083, 8)

In [28]:
display(orders.head(200))

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,eval
0,2539329,1,prior,1,2,8,NaN,NaN
1,2398795,1,prior,2,3,7,15.0,NaN
2,473747,1,prior,3,3,12,21.0,NaN
3,2254736,1,prior,4,4,7,29.0,NaN
4,431534,1,prior,5,4,15,28.0,NaN
5,3367565,1,prior,6,2,7,19.0,NaN
6,550135,1,prior,7,1,9,20.0,NaN
7,3108588,1,prior,8,1,14,14.0,NaN
8,2295261,1,prior,9,1,16,0.0,NaN
9,2550362,1,prior,10,4,8,30.0,NaN
10,1187899,1,train,11,4,8,14.0,train
11,2168274,2,prior,1,2,11,NaN,NaN
12,1501582,2,prior,2,5,10,10.0,NaN
13,1901567,2,prior,3,1,10,3.0,NaN
14,738281,2,prior,4,2,10,8.0,NaN
15,1673511,2,prior,5,3,11,8.0,NaN
16,1199898,2,prior,6,2,9,13.0,NaN
17,3194192,2,prior,7,2,12,14.0,NaN
18,788338,2,prior,8,1,15,27.0,NaN
19,1718559,2,prior,9,2,9,8.0,NaN
20,1447487,2,prior,10,1,11,6.0,NaN
21,1402090,2,prior,11,1,10,30.0,NaN
22,3186735,2,prior,12,1,9,28.0,NaN
23,3268552,2,prior,13,4,11,30.0,NaN
24,839880,2,prior,14,3,10,13.0,NaN
25,1492625,2,train,15,1,11,30.0,val
26,1374495,3,prior,1,1,14,NaN,NaN
27,444309,3,prior,2,3,19,9.0,NaN
28,3002854,3,prior,3,3,16,21.0,NaN
29,2037211,3,prior,4,2,18,20.0,NaN
30,2710558,3,prior,5,0,17,12.0,NaN
31,1972919,3,prior,6,0,16,7.0,NaN
32,1839752,3,prior,7,0,15,7.0,NaN
33,3225766,3,prior,8,0,17,7.0,NaN
34,3160850,3,prior,9,0,16,7.0,NaN
35,676467,3,prior,10,3,16,17.0,NaN
36,521107,3,prior,11,0,18,11.0,NaN
37,1402502,3,prior,12,1,15,15.0,test
38,3343014,4,prior,1,6,11,NaN,NaN
39,2030307,4,prior,2,4,11,19.0,NaN
40,691089,4,prior,3,4,15,21.0,NaN
41,94891,4,prior,4,5,13,15.0,NaN
42,2557754,4,prior,5,5,13,0.0,train
43,2717275,5,prior,1,3,12,NaN,NaN
44,1909121,5,prior,2,0,16,11.0,NaN
45,2267326,5,prior,3,3,18,10.0,NaN
46,157374,5,prior,4,1,18,19.0,NaN
47,2196797,5,train,5,0,11,6.0,test
48,2086598,6,prior,1,5,18,NaN,NaN
49,298250,6,prior,2,4,16,6.0,NaN
50,998866,6,prior,3,2,18,12.0,test
51,2565571,7,prior,1,3,9,NaN,NaN
52,2402008,7,prior,2,1,19,30.0,NaN
53,121053,7,prior,3,0,18,30.0,NaN
54,1695742,7,prior,4,2,10,9.0,NaN
55,3321109,7,prior,5,5,18,3.0,NaN
56,1682003,7,prior,6,1,18,10.0,NaN
57,1014379,7,prior,7,1,15,7.0,NaN
58,776265,7,prior,8,2,12,8.0,NaN
59,2507052,7,prior,9,6,7,4.0,NaN
60,1396119,7,prior,10,1,20,9.0,NaN
61,565870,7,prior,11,0,15,6.0,NaN
62,3239072,7,prior,12,0,14,7.0,NaN
63,1175028,7,prior,13,5,15,5.0,NaN
64,3060817,7,prior,14,1,13,17.0,NaN
65,3120740,7,prior,15,3,16,2.0,NaN
66,2425840,7,prior,16,0,13,11.0,NaN
67,23391,7,prior,17,0,10,28.0,NaN
68,2984707,7,prior,18,0,9,7.0,NaN
69,369015,7,prior,19,3,12,3.0,NaN
70,2452257,7,prior,20,3,9,7.0,NaN
71,525192,7,train,21,2,11,6.0,train
72,600894,8,prior,1,6,0,NaN,NaN
73,2979257,8,prior,2,1,8,30.0,NaN
74,2570360,8,prior,3,5,0,30.0,NaN
75,880375,8,train,4,1,14,10.0,train
76,280530,9,prior,1,1,17,NaN,NaN
77,2762092,9,prior,2,0,14,6.0,NaN
78,1830137,9,prior,3,5,12,30.0,NaN
79,1094988,9,train,4,6,10,30.0,train
80,1224907,10,prior,1,2,14,NaN,NaN
81,68288,10,prior,2,5,15,30.0,NaN
82,2115522,10,prior,3,3,19,12.0,NaN
83,83395,10,prior,4,3,15,14.0,NaN
84,1353310,10,prior,5,5,20,23.0,NaN
85,1822501,10,train,6,0,19,30.0,val
86,2411567,11,prior,1,0,11,NaN,NaN
87,1170872,11,prior,2,5,11,12.0,NaN
88,2840752,11,prior,3,5,10,14.0,NaN
89,1611810,11,prior,4,5,13,30.0,NaN
90,2921164,11,prior,5,5,11,30.0,NaN
91,790927,11,prior,6,5,11,7.0,NaN
92,1468214,11,prior,7,5,9,30.0,train
93,1483446,12,prior,1,1,12,NaN,NaN
94,1247527,12,prior,2,5,9,30.0,NaN
95,1916106,12,prior,3,5,8,14.0,NaN
96,1057378,12,prior,4,3,9,26.0,NaN
97,221248,12,prior,5,1,9,30.0,test
98,2618231,13,prior,1,6,12,NaN,NaN
99,2560699,13,prior,2,0,11,8.0,NaN
100,2288946,13,prior,3,6,21,6.0,NaN
101,19256,13,prior,4,1,12,9.0,NaN
102,1378982,13,prior,5,0,13,6.0,NaN
103,2363981,13,prior,6,0,18,7.0,NaN
104,1906169,13,prior,7,0,8,7.0,NaN
105,1757094,13,prior,8,6,18,13.0,NaN
106,519471,13,prior,9,6,17,7.0,NaN
107,2298068,13,prior,10,6,22,7.0,NaN
108,1472646,13,prior,11,0,14,8.0,NaN
109,1789302,13,prior,12,6,13,6.0,NaN
110,1827621,13,train,13,0,21,8.0,train
111,2906263,14,prior,1,2,18,NaN,NaN
112,3206747,14,prior,2,5,8,30.0,NaN
113,1366559,14,prior,3,0,14,2.0,NaN
114,1385564,14,prior,4,6,8,20.0,NaN
115,1691859,14,prior,5,5,8,30.0,NaN
116,2127409,14,prior,6,1,8,30.0,NaN
117,2505309,14,prior,7,5,10,30.0,NaN
118,3067644,14,prior,8,4,8,27.0,NaN
119,2109666,14,prior,9,5,9,30.0,NaN
120,1625325,14,prior,10,4,21,30.0,NaN
121,1335295,14,prior,11,1,5,25.0,NaN
122,2045336,14,prior,12,5,9,4.0,NaN
123,3394109,14,prior,13,5,5,7.0,NaN
124,2316178,14,train,14,2,19,11.0,val
125,2514324,15,prior,1,5,13,NaN,NaN
126,3135826,15,prior,2,6,12,15.0,NaN
127,2564002,15,prior,3,6,12,7.0,NaN
128,714991,15,prior,4,1,11,16.0,NaN
129,3317979,15,prior,5,4,15,17.0,NaN
130,876095,15,prior,6,5,11,8.0,NaN
131,2685110,15,prior,7,1,11,17.0,NaN
132,3119091,15,prior,8,2,17,8.0,NaN
133,887727,15,prior,9,2,13,7.0,NaN
134,2570697,15,prior,10,2,10,21.0,NaN
135,2600170,15,prior,11,2,9,14.0,NaN
136,2883598,15,prior,12,1,8,6.0,NaN
137,2332087,15,prior,13,1,10,14.0,NaN
138,113728,15,prior,14,1,10,14.0,NaN
139,2968173,15,prior,15,1,9,7.0,NaN
140,3097485,15,prior,16,1,9,7.0,NaN
141,1870022,15,prior,17,2,16,8.0,NaN
142,1911383,15,prior,18,2,11,7.0,NaN
143,2345592,15,prior,19,5,11,3.0,NaN
144,2994589,15,prior,20,1,13,10.0,NaN
145,2715276,15,prior,21,1,9,7.0,NaN
146,487368,15,prior,22,1,10,14.0,train
147,1273676,16,prior,1,2,8,NaN,NaN
148,875885,16,prior,2,1,13,20.0,NaN
149,1491849,16,prior,3,1,20,21.0,NaN
150,2704482,16,prior,4,6,14,12.0,NaN
151,3192400,16,prior,5,2,14,30.0,NaN
152,2000615,16,prior,6,0,14,26.0,train
153,1737705,17,prior,1,2,13,NaN,NaN
154,1681401,17,prior,2,5,10,3.0,NaN
155,2680214,17,prior,3,3,10,5.0,NaN
156,3197376,17,prior,4,1,14,5.0,NaN
157,3237467,17,prior,5,6,17,5.0,NaN
158,2616505,17,prior,6,4,17,5.0,NaN
159,2648319,17,prior,7,1,13,4.0,NaN
160,2430354,17,prior,8,0,15,6.0,NaN
161,2373492,17,prior,9,3,13,3.0,NaN
162,900554,17,prior,10,0,15,4.0,NaN
163,805025,17,prior,11,4,15,4.0,NaN
164,912404,17,prior,12,2,14,5.0,NaN
165,1389057,17,prior,13,1,13,6.0,NaN
166,603534,17,prior,14,6,17,5.0,NaN
167,2660930,17,prior,15,2,16,3.0,NaN
168,1719551,17,prior,16,1,12,6.0,NaN
169,601444,17,prior,17,5,21,4.0,NaN
170,2956367,17,prior,18,6,12,8.0,NaN
171,2508834,17,prior,19,5,11,6.0,NaN
172,415389,17,prior,20,5,13,7.0,NaN
173,3141030,17,prior,21,2,12,4.0,NaN
174,603376,17,prior,22,6,16,4.0,NaN
175,3069802,17,prior,23,3,23,4.0,NaN
176,1683378,17,prior,24,1,10,5.0,NaN
177,2795254,17,prior,25,0,11,6.0,NaN
178,343199,17,prior,26,5,17,5.0,NaN
179,1385847,17,prior,27,4,10,6.0,NaN
180,3314059,17,prior,28,1,9,4.0,NaN
181,697863,17,prior,29,6,14,5.0,NaN
182,2148135,17,prior,30,6,15,0.0,NaN
183,3327122,17,prior,31,4,12,5.0,NaN
184,2760791,17,prior,32,1,22,4.0,NaN
185,2553089,17,prior,33,3,11,9.0,NaN
186,791858,17,prior,34,5,12,16.0,NaN
187,2773605,17,prior,35,6,13,8.0,NaN
188,674977,17,prior,36,3,12,30.0,NaN
189,2831726,17,prior,37,2,12,13.0,NaN
190,1385397,17,prior,38,1,15,30.0,NaN
191,348137,17,prior,39,5,16,11.0,NaN
192,3350883,17,prior,40,4,11,27.0,NaN
193,2180313,17,train,41,3,10,30.0,train
194,2780889,18,prior,1,6,18,NaN,NaN
195,3106101,18,prior,2,0,17,1.0,NaN
196,1860960,18,prior,3,1,19,8.0,NaN
197,3133044,18,prior,4,0,16,6.0,NaN
198,1020460,18,prior,5,2,16,9.0,NaN
199,441977,18,prior,6,6,12,4.0,NaN

In [29]:
# set missing eval to prior and delete eval_set column
orders.loc[pd.isnull(orders["eval"]), "eval"] = "prior"
orders["eval"].value_counts()

prior    3139874
train     123830
val        41345
test       41034
Name: eval, dtype: int64

In [30]:
# delete eval_set column
orders.drop(labels = "eval_set", axis = 1, inplace = True)
display(orders.head())

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,eval
0,2539329,1,1,2,8,NaN,prior
1,2398795,1,2,3,7,15.0,prior
2,473747,1,3,3,12,21.0,prior
3,2254736,1,4,4,7,29.0,prior
4,431534,1,5,4,15,28.0,prior

## 2.2. Save to disk

In [31]:
# save orders
orders.to_csv(process_dir + "orders-split-v1.csv", index = False)

----

# 3. Prior orders

In [32]:
# prior orders
prior = pd.read_csv(data_dir + "order_products__prior.csv")
print(prior.shape)

(32434489, 4)

In [33]:
display(prior.head())

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## 3.1. Remove in-frequent products

In [34]:
# product frequency to check top-products
prod_freq = prior["product_id"].value_counts()
print(prod_freq.shape)

(49677,)

In [35]:
display(prod_freq)

24852    472565
13176    379450
21137    264683
21903    241921
47209    213584
47766    176815
47626    152657
16797    142951
26209    140627
27845    137905
27966    137057
22935    113426
24964    109778
45007    104823
39275    100060
49683     97315
28204     89632
5876      87746
8277      85020
40706     84255
4920      82689
30391     80392
45066     79769
42265     76896
49235     76360
44632     75886
19057     75165
4605      73167
37646     72846
21616     72829
17794     72736
27104     71584
30489     71314
31717     69524
27086     69217
44359     68091
28985     67449
46979     67283
8518      66986
41950     64289
26604     61746
5077      60816
34126     60621
22035     59676
39877     58779
35951     57895
43352     57640
10749     57485
19660     56087
9076      55946
21938     55484
43961     55371
24184     55280
34969     54409
46667     52087
48679     51939
25890     50281
31506     50255
12341     50221
39928     50141
24838     49569
5450      49021
22825     48915
5785      47839
35221     46546
28842     45530
33731     45238
27521     43067
44142     43009
33198     42934
8174      42721
20114     42561
8424      42044
27344     41473
11520     40376
29487     40212
18465     40045
28199     39825
15290     39188
46906     38971
9839      38720
27156     38001
3957      37973
43122     37706
23909     37091
34358     36617
4799      36365
9387      36187
16759     35820
196       35791
42736     35667
38689     35663
4210      35633
41787     35413
41220     34874
47144     34583
7781      34209
33000     33908
20995     32887
21709     32788
19678     32534
40604     32351
30233     32105
34243     31792
37687     31768
24489     31445
42828     31192
5479      30937
432       30935
6184      30843
16185     30170
42768     30055
17948     29905
33754     29893
19348     29345
8193      29313
26369     29296
42585     29124
14992     29069
14947     28884
22963     28384
1463      27992
28849     27924
8021      27864
25659     27255
21405     27226
46676     26878
31343     26777
41844     26741
38293     26721
42701     26691
43789     26668
36011     26591
5025      26536
39475     26443
43295     26307
11777     26220
20842     26154
32689     25974
32655     25523
2295      25459
46802     24950
13870     24950
25146     24918
18531     24664
5212      24534
31553     24130
39408     24086
260       23900
36695     23892
10246     23826
24830     23642
38383     23641
43768     23388
1940      23244
11182     23129
18523     23034
18362     23006
21288     22864
6046      22590
44683     22275
29987     21999
890       21997
38777     21745
43772     21552
23734     21540
7948      21509
30450     21490
38456     21451
46969     21431
44910     21416
47734     21352
38159     21301
26620     21233
47672     20775
4957      20758
26165     20735
30776     20707
44987     20684
35939     20262
14678     20228
16349     20217
28289     20211
29447     20198
44422     20140
40310     20069
16953     20033
23375     19998
33787     19908
19048     19847
2078      19846
13984     19745
41290     19692
23165     19671
32864     19639
17600     19611
39812     19544
8859      19518
48364     19501
33120     19400
31683     19345
26940     19286
28465     19257
35108     19163
26283     18906
37158     18602
37067     18583
18370     18449
45        18413
41665     18367
35547     18358
3952      18341
10957     18269
2086      18231
2966      18183
43154     18161
24799     18142
40571     18044
10132     18040
43713     18040
40396     17960
18027     17789
45535     17716
1158      17699
25931     17672
7021      17629
38739     17565
13629     17423
42450     17420
20119     17411
15937     17401
42342     17332
32478     17320
48745     17257
45633     17140
21019     17038
34050     16987
34448     16850
48205     16829
39619     16824
17461     16816
45603     16791
30169     16636
31040     16626
38400     16535
13646     16439
36865     16377
40174     16356
21267     16318
17872     16246
5818      16155
26790     16129
39984     15954
14084     15935
23288     15871
21376     15831
32734     15813
33768     15774
37766     15740
46654     15703
12206     15638
329       15459
28934     15458
6187      15415
6348      15377
39993     15367
18441     15304
5646      15302
25340     15301
43086     15298
6104      15267
42356     15253
48775     15055
651       15035
10673     14973
47977     14928
19508     14905
39180     14869
40709     14800
19677     14712
10017     14707
27336     14687
13535     14678
13829     14664
42244     14621
11782     14618
27695     14577
36070     14572
28156     14549
6873      14476
49520     14439
49383     14433
8571      14399
24561     14313
13249     14289
49075     14276
16083     14255
24024     14231
40545     14227
40199     14148
30720     14120
17795     14016
25588     13996
35921     13881
17122     13880
11422     13861
8670      13852
31915     13833
35561     13776
42445     13732
14233     13727
7963      13715
17706     13692
3599      13691
21295     13637
44449     13597
36550     13587
19019     13571
30827     13571
20082     13528
35042     13525
25466     13494
33401     13450
1511      13397
42625     13378
5194      13372
8048      13355
23537     13354
2825      13340
16965     13273
38928     13238
21195     13216
19706     13101
18288     13086
13380     13040
15872     13039
7751      13039
4562      13034
9339      12992
22395     12906
38164     12905
46720     12849
40723     12834
15902     12822
35140     12816
4472      12749
3376      12738
13166     12737
29662     12709
2855      12705
28993     12698
7175      12648
13575     12575
13740     12568
12916     12536
40516     12495
45200     12492
7503      12474
5782      12441
19691     12437
5134      12430
40332     12424
12456     12391
21174     12361
5258      12321
10644     12318
39561     12315
4421      12230
33129     12196
44765     12191
20955     12184
46584     12179
22124     12153
44570     12141
3464      12137
43662     12123
13198     12123
10070     12121
32691     12117
7559      12102
37710     12068
36735     12056
35898     12048
37029     11975
34262     11945
1025      11930
18918     11925
42719     11908
11408     11872
18234     11843
44560     11798
23029     11747
45123     11736
3896      11705
9092      11703
28745     11684
18811     11666
26384     11655
35503     11621
35628     11610
47141     11585
28476     11570
25138     11552
21386     11504
47042     11466
46820     11455
21292     11451
11140     11431
21573     11381
38768     11362
17949     11339
1999      11297
14197     11279
46616     11264
32433     11253
47759     11238
37220     11238
39947     11237
24954     11234
41065     11223
21333     11179
25824     11178
48628     11165
43504     11110
1194      11110
44628     11103
5456      11079
38273     11066
15613     11053
35535     11029
15424     10998
27548     10990
24841     10978
39190     10972
27730     10950
42110     10907
29307     10893
14161     10872
49175     10829
14462     10816
31066     10774
16696     10772
26800     10725
9825      10704
5322      10701
27744     10687
8309      10663
11005     10653
41588     10652
11068     10652
27796     10630
27325     10603
2228      10584
7969      10576
22474     10557
9020      10550
16521     10531
5769      10521
3298      10521
1244      10518
13517     10512
27323     10483
2452      10462
28601     10455
2314      10434
21927     10424
32177     10421
13733     10415
12980     10405
15261     10390
19173     10390
21872     10388
20345     10386
41658     10379
18479     10375
49191     10365
20734     10360
22849     10347
4086      10347
36724     10345
17316     10329
5373      10303
26497     10281
20738     10274
44799     10260
20574     10195
5161      10150
35914     10148
22959     10130
37524     10101
6948      10060
12845     10027
4656       9989
17758      9961
47630      9959
26348      9955
25513      9938
33055      9929
34584      9922
11712      9917
          ...
28717         3
44646         3
252           3
16651         3
34388         3
40667         3
35757         3
24233         3
25131         3
28291         3
44348         3
11861         3
8679          3
32496         3
49421         3
49422         3
49423         3
28669         3
41410         3
2645          3
24395         3
28651         3
346           3
8019          3
9256          3
344           3
9241          3
25617         3
40769         3
9278          3
40764         3
31246         3
25845         3
9288          3
48787         3
11559         3
31133         3
28663         3
40573         3
35402         3
48934         3
28667         3
41417         3
40729         3
48153         3
46110         2
29713         2
43342         2
44693         2
13538         2
16151         2
1066          2
44569         2
22229         2
3832          2
36584         2
965           2
49196         2
25145         2
5643          2
41573         2
48924         2
22100         2
36509         2
13387         2
46214         2
44582         2
10533         2
21990         2
46238         2
43315         2
38474         2
38373         2
30711         2
38441         2
29838         2
33762         2
34438         2
38552         2
38213         2
26936         2
26958         2
14329         2
44597         2
36595         2
34777         2
8782          2
36556         2
44243         2
13501         2
13491         2
29857         2
5543          2
44598         2
29863         2
3046          2
27350         2
38123         2
4650          2
20881         2
9304          2
4104          2
36887         2
28027         2
36886         2
42031         2
46954         2
32764         2
30367         2
25911         2
2484          2
9512          2
4077          2
30289         2
33014         2
4737          2
37533         2
21151         2
21161         2
25621         2
30253         2
4046          2
9228          2
31753         2
9305          2
43492         2
27911         2
46905         2
4273          2
27263         2
18114         2
30493         2
20692         2
30466         2
16195         2
30537         2
47756         2
46871         2
25873         2
15639         2
1291          2
25790         2
46835         2
4170          2
4415          2
20543         2
14046         2
25719         2
32567         2
32795         2
25700         2
46600         2
9555          2
38112         2
48052         2
46447         2
5143          2
20311         2
49453         2
47071         2
21581         2
43416         2
9052          2
34147         2
46430         2
9029          2
26992         2
42338         2
43360         2
5273          2
32721         2
43388         2
17483         2
46385         2
28166         2
31757         2
11466         2
35356         2
10593         2
20325         2
10657         2
42313         2
10698         2
21271         2
46563         2
30181         2
46588         2
4012          2
20394         2
44453         2
44452         2
14964         2
30139         2
11713         2
21396         2
33889         2
32066         2
48063         2
10688         2
14263         2
3980          2
21441         2
36715         2
224           2
10672         2
43250         2
17761         2
49367         2
8682          2
5894          2
10225         2
49631         2
31544         2
45545         2
23317         2
17113         2
10206         2
18003         2
23366         2
17910         2
45509         2
18177         2
24540         2
7032          2
33447         2
7066          2
45479         2
44960         2
33266         2
34962         2
12649         2
40851         2
24650         2
49627         2
7245          2
29216         2
17198         2
12059         2
3437          2
48113         2
41128         2
29339         2
2817          2
6671          2
6675          2
8353          2
44140         2
41142         2
441           2
29290         2
10262         2
35611         2
6733          2
6751          2
8343          2
17127         2
12841         2
40809         2
15456         2
3448          2
23890         2
42767         2
23946         2
40324         2
12335         2
19400         2
48760         2
40609         2
7634          2
40437         2
15986         2
28809         2
12417         2
3018          2
19399         2
28744         2
34342         2
31057         2
24106         2
7726          2
24119         2
24143         2
7534          2
40263         2
40037         2
35929         2
27619         2
17013         2
40747         2
32351         2
24383         2
40766         2
27641         2
28964         2
48782         2
33377         2
33406         2
11328         2
33263         2
7422          2
34352         2
14640         2
12300         2
31811         2
23858         2
24298         2
40274         2
6559          2
45238         2
18506         2
22704         2
43128         2
45952         2
20002         2
18492         2
49541         2
16488         2
45963         2
26734         2
38816         2
35573         2
28428         2
8675          2
17885         2
38791         2
28308         2
19994         2
34572         2
49238         2
16090         2
26127         2
6267          2
47588         2
19925         2
19952         2
29522         2
6169          2
2796          2
24953         2
29563         2
36297         2
39098         2
38931         2
8634          2
36382         2
41493         2
13222         2
41193         2
2711          2
11150         2
3659          2
47266         2
32176         2
38744         2
16811         2
29639         2
34250         2
5936          2
33710         2
6488          2
49014         2
8749          2
2791          2
22874         2
15408         2
48558         2
10311         2
14527         2
18697         2
43144         1
47408         1
16639         1
49487         1
4558          1
23741         1
24348         1
36998         1
7712          1
11254         1
30343         1
25248         1
42235         1
46741         1
32021         1
4626          1
14128         1
40744         1
45893         1
12372         1
35952         1
37014         1
11099         1
7626          1
20759         1
35890         1
28818         1
37088         1
3117          1
34211         1
16461         1
6062          1
4417          1
23653         1
45273         1
13397         1
10806         1
14020         1
42206         1
9342          1
34785         1
32464         1
31254         1
25888         1
1002          1
30451         1
42464         1
33097         1
45400         1
33421         1
45380         1
12823         1
47680         1
48461         1
9818          1
26627         1
30068         1
25482         1
39522         1
15901         1
6786          1
28504         1
20223         1
34463         1
21483         1
5081          1
3831          1
15388         1
16790         1
10260         1
44495         1
43098         1
48151         1
20264         1
32126         1
3426          1
15877         1
48343         1
38045         1
8435          1
10584         1
25441         1
46379         1
5255          1
6681          1
10270         1
28486         1
41800         1
37981         1
31333         1
21440         1
45378         1
21428         1
26117         1
44986         1
12718         1
37660         1
33440         1
34331         1
14756         1
48211         1
14607         1
7198          1
17585         1
2769          1
35542         1
1908          1
24402         1
23624         1
38977         1
4908          1
41967         1
38276         1
36079         1
18538         1
19259         1
46278         1
31465         1
22747         1
14485         1
27512         1
44748         1
43778         1
30149         1
39759         1
44982         1
11356         1
18001         1
6320          1
26268         1
30087         1
Name: product_id, Length: 49677, dtype: int64

In [36]:
# keep products bought at least 200 times
min_freq = 200
prod_freq = prod_freq[prod_freq >= min_freq]
print(prod_freq.shape)

(14340,)

In [37]:
# subset prior data
prior = prior.loc[prior["product_id"].isin(list(prod_freq.index)), :]
print(prior.shape)

(30720465, 4)

In [38]:
# number of unique products
len(prior["product_id"].unique())

14340

In [39]:
display(prior.head())

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## 3.2. Aggregate to order level from order-product level

In [40]:
# =========================================================
# aggregate to order-level to make sentences
# =========================================================


# =================================================
# roll-up product-id
# =================================================

# function to aggregate
f = {"product_id": lambda g: " ".join(g),
    "add_to_cart_order": ["count"]}

In [41]:
# format product-ids to string
prior["product_id"] = prior["product_id"].astype(str)

In [42]:
# roll-up
prior_orders = prior.groupby(["order_id"]).agg(f)
print(prior_orders.shape)

(3201694, 2)

In [43]:
display(prior_orders.head())

                                                 product_id add_to_cart_order
                                                   <lambda>             count
order_id
2             33120 28985 9327 45918 30035 17794 40141 1819                 8
3           33754 24838 17704 21903 17668 46667 17461 32665                 8
4         46842 39758 27761 10054 21351 22598 34862 4028...                12
5         13176 47329 27966 23909 48370 13245 27360 6348...                22
6                                                     40462                 1

In [44]:
# =================================================
# reset column levels
# =================================================
prior_orders.columns = prior_orders.columns.droplevel(1)
prior_orders.reset_index(inplace = True)
print(prior_orders.shape)

(3201694, 3)

In [45]:
display(prior_orders.head())

,order_id,product_id,add_to_cart_order
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8
2,4,46842 39758 27761 10054 21351 22598 34862 4028...,12
3,5,13176 47329 27966 23909 48370 13245 27360 6348...,22
4,6,40462,1

In [46]:
# rename columns
prior_orders.rename(columns = {"add_to_cart_order" : "num_products"}, inplace = True)
display(prior_orders.head())

   order_id                                         product_id  num_products
0         2      33120 28985 9327 45918 30035 17794 40141 1819             8
1         3    33754 24838 17704 21903 17668 46667 17461 32665             8
2         4  46842 39758 27761 10054 21351 22598 34862 4028...            12
3         5  13176 47329 27966 23909 48370 13245 27360 6348...            22
4         6                                              40462             1

## 3.3. Retain baskets with more than one product

In [47]:
# keep orders with more than one product only
prior_orders = prior_orders.loc[prior_orders["num_products"] > 1, :]
print(prior_orders.shape)

(3029493, 3)

----

# 4. Train dataset orders

### We have made our own training and test data
### This dataset will eventually be appended to the larger prior orders

In [48]:
# training orders
train = pd.read_csv(data_dir + "order_products__train.csv")
print(train.shape)

(1384617, 4)

In [49]:
display(train.head())

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

## 4.1. Remove in-frequent products

In [50]:
# retain only frequently sold products
train = train.loc[train["product_id"].isin(list(prod_freq.index)), :]
print(train.shape)

(1298865, 4)

## 4.2. Aggregate to order-level

In [51]:
train["product_id"] = train["product_id"].astype(str)
train_orders = train.groupby(["order_id"]).agg(f)
train_orders.shape

(130524, 2)

## 4.3. Retain baskets with more than one product

In [52]:
# reset columns - was a pain to figure this out
train_orders.columns = train_orders.columns.droplevel(1)
train_orders.reset_index(inplace = True)
train_orders.rename(columns = {"add_to_cart_order" : "num_products"}, inplace = True)
train_orders = train_orders.loc[train_orders["num_products"] > 1, :]
print(train_orders.shape)

(123062, 3)

In [53]:
display(train_orders.head())

   order_id                                         product_id  num_products
0         1          11109 10246 49683 43633 13176 47209 22035             7
1        36    39612 19660 49235 43086 46620 34497 48679 46979             8
2        38  11913 18159 4461 21616 23622 32433 28842 42625...             9
3        96          20574 30391 40706 25610 27966 24489 39275             7
4        98  8859 19731 43654 13176 4357 37664 34065 35951 ...            49

----

# 5. Combine training and prior orders

In [54]:
# =========================================================
# add identifier column to both data sets to append
# =========================================================

# orders-level data
prior_orders["eval"] = "prior"
train_orders["eval"] = "train"

# order-product level data
prior["eval"] = "prior"
train["eval"] = "train"

In [55]:
display(prior_orders.head())

,order_id,product_id,num_products,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,prior
2,4,46842 39758 27761 10054 21351 22598 34862 4028...,12,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348...,22,prior
5,7,34050 46802,2,prior

In [56]:
display(train_orders.head())

,order_id,product_id,num_products,eval
0,1,11109 10246 49683 43633 13176 47209 22035,7,train
1,36,39612 19660 49235 43086 46620 34497 48679 46979,8,train
2,38,11913 18159 4461 21616 23622 32433 28842 42625...,9,train
3,96,20574 30391 40706 25610 27966 24489 39275,7,train
4,98,8859 19731 43654 13176 4357 37664 34065 35951 ...,49,train

In [57]:
display(prior.head())

   order_id product_id  add_to_cart_order  reordered   eval
0         2      33120                  1          1  prior
1         2      28985                  2          1  prior
2         2       9327                  3          0  prior
3         2      45918                  4          1  prior
4         2      30035                  5          0  prior

In [58]:
display(train.head())

   order_id product_id  add_to_cart_order  reordered   eval
1         1      11109                  2          1  train
2         1      10246                  3          0  train
3         1      49683                  4          0  train
4         1      43633                  5          1  train
5         1      13176                  6          0  train

## 5.1. Append order-level data

In [59]:
# append and save
all_orders_wide = prior_orders.append(train_orders)
print(all_orders_wide.shape)

(3152555, 4)

In [60]:
display(all_orders_wide.head())

,order_id,product_id,num_products,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,prior
2,4,46842 39758 27761 10054 21351 22598 34862 4028...,12,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348...,22,prior
5,7,34050 46802,2,prior

In [61]:
# reset index
all_orders_wide.reset_index(drop = True, inplace = True)

In [62]:
display(all_orders_wide.head())

,order_id,product_id,num_products,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,prior
2,4,46842 39758 27761 10054 21351 22598 34862 4028...,12,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348...,22,prior
4,7,34050 46802,2,prior

## 5.2. Save to disk

In [63]:
# save
all_orders_wide.to_csv(process_dir + "all-orders-wide-v1.csv", index = False)

## 5.3. Append order-product level data

In [64]:
# append and save
all_orders_long = prior.append(train)
print(all_orders_long.shape)

(32019330, 5)

In [65]:
display(all_orders_long.head())

   order_id product_id  add_to_cart_order  reordered   eval
0         2      33120                  1          1  prior
1         2      28985                  2          1  prior
2         2       9327                  3          0  prior
3         2      45918                  4          1  prior
4         2      30035                  5          0  prior

In [66]:
# reset index
all_orders_long.reset_index(drop = True, inplace = True)

## 5.2. Save to disk

In [44]:
# save
all_orders_long.to_csv(process_dir + "all-orders-long-v1.csv", index = False)

--------